@media screen {
    #benjohnson {
        width: 100%;
    }
    #fullvideo {
        padding: 0;
        position: relative;
    }
    #videotext {
        position: absolute;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
        font-weight: bold;
        top: 25%;
    }
    #date {
        text-align: center;
    }
    body {
        font-family: "Lato", sans-serif;
        text-align: center;
        background-color: aliceblue;
    }
    .pullquote {
        border: 3px solid #135ae1;
        text-align: left;
        margin: auto;
        width: 80%;
        padding-top: 10px;
        font-size: 25px;
    }
    quote {
        width: 100%;
    }
    .quotemark {
        font-size: 200px;
        float: left;
        line-height: 0em;
        padding: 60px 2px 30px 0px;
        font-family: "Lato", sans-serif;
    }
    .image {
        display: block;
        margin: auto;
    }
    .twitter-tweet {
        display: block;
        margin: auto;
    }
    #Jenson {
        width: 100%;
        height: auto;
        max-width: 500px;
        display: block;
        margin: auto;
    }
    #armstrong {
        width: 100%;
        height: auto;
        max-width: 500px;
        display: block;
        margin: auto;
    }
    #puerto {
        width: 100%;
        height: auto;
        max-width: 500px;
        display: block;
        margin: auto;
    }
    p {
        text-align: left;
    }
    .caption1 {
        font-size: 10px;
        text-align: center;
    }
    h1 {
        font-weight: bold;
    }
    #chart {
        width: 80%;
        margin: auto;
        display: block;
    }
    #timeline {
        width: 80%;
        margin: auto;
        display: block;
    }
}
@media (min-width: 576px) {
    p,
    #intro {
        padding-left: 60px;
        padding-right: 60px;
    }

    h1 {
        padding-left: 40px;
        padding-right: 40px;
    }

    #Jenson,
    #armstrong,
    #puerto {
        height: 400px;
    }

    .pullquote {
        width: 75%;
        font-size: 22px;
    }

}

@media (min-width: 768px) {
    p,
    #intro {
        padding-left: 90px;
        padding-right: 90px;
    }

    h1 {
        padding-left: 70px;
        padding-right: 70px;
        font-size: 2rem;
    }

    .pullquote {
        width: 70%;
        font-size: 23px;
    }

    #Jenson,
    #armstrong,
    #puerto {
        height: 275px;
    }

    #chart,
    #timeline {
        width: 75%;
    }
}
@media (min-width: 992px) {
    p,
    #intro {
        padding-left: 123px;
        padding-right: 123px;
    }

    h1 {
        padding-left: 90px;
        padding-right: 90px;
    }

    #Jenson,
    #armstrong,
    #puerto {
        height: 300px;
    }

    .pullquote {
        width: 60%;
        font-size: 25px;
    }

    #chart,
    #timeline {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    p,
    #intro {
        padding-left: 123px;
        padding-right: 123px;
    }

    h1 {
        padding-left: 90px;
        padding-right: 90px;
        font-size: 2.3rem;
    }

    .pullquote {
        width: 50%;
        font-size: 26px;
    }

    #Jenson,
    #armstrong,
    #puerto {
        height: 350px;
    }

    #chart,
    #timeline {
        width: 60%;
    }
    #videotext {
        top: 25%;
    }
}
