/* CSS HEX 
--slate-blue: #6a5acdff;
--white-smoke: #f5f5f5ff;
--steel-blue: #4682b4ff;
--light-coral: #f08080ff;
--platinum: #dcdcdcff;
*/
@media screen {
    img {
        width: 100%;
        border-color: #f5f5f5;
        border-width: thin;
        border: 3px solid #f5f5f5;
        display: block;
        margin: auto;
    }

    body {
        background-color: #4682b4;
        font-family: "space-mono", sans-serif;
    }

    button {
        background-color: #f5f5f5;
        color: #6a5acd;
        font-family: "Open Sans", sans-serif;
        width: 200px;
        height: 100px;
        text-align: center;
        display: block;
        border-radius: 10px;
        margin: auto;
        font-weight: bold;
        font-size: 30px;
    }
    button a {
        text-decoration: none;
        color: #6a5acd;
    }

    h1 {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        text-align: center;
        color: #f5f5f5;
        font-weight: 500;
    }
    h2 {
        font-family: "Open Sans", sans-serif;
        text-transform: capitalize;
        text-align: center;
        color: #f5f5f5;
        font-weight: 500;
    }
    h5 a {
        text-decoration: none;
        color: #6a5acd;
    }
    #navigation {
        background-color: #f5f5f5;
    }
    #experience {
        color: #f5f5f5;
        font-weight: bold;
        text-align: center;
        border: solid;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    #Skills {
        color: #f5f5f5;
        font-weight: bold;
        text-align: center;
        border: solid;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    #Education {
        color: #f5f5f5;
        font-weight: bold;
        text-align: center;
        border: solid;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    button:hover {
        background-color: #f08080ff;
    }
    .caption {
        color: #f5f5f5;
        text-align: center;
        border: solid;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    .caption a {
        text-decoration: none;
        color: #f5f5f5;
    }
    .caption:hover {
        border-color: #f08080ff;
    }
}
@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    img {
        width: 50%;
    }
    #haraka,
    #hillel,
    #israel,
    #yoseph {
        width: 300px;
    }
    #haraka,
    #hillel,
    #israel,
    #yoseph {
        height: 250px;
    }
}
@media (min-width: 768px) {
    img {
        width: 60%;
    }
}
@media (min-width: 992px) {
    img {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 50px;
    }
}
#intext {
    color: #f5f5f5;
    font-family: "Lato", sans-serif;
}
